<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoArquivoCor" value="Dados\Cor.txt"/>
    <add key="CaminhoArquivoMarca" value="Dados\Marca.txt"/>
    <add key="CaminhoArquivoModelo" value="Dados\Modelo.xml"/>
    <add key="CaminhoArquivoVeiculo" value="Dados\Veiculo.xml"/>
  </appSettings>
</configuration>